/* カレンダーがホバーされた時のスタイル */
.hover-date {
    background-color: #ff7f7f;
    opacity: 0.5;
    color: #eff7ff;
}

.selected-date {
    background-color: #ff7f7f;
    color: #eff7ff;
}

/* ニコニコアイコンが選択されたときに付与するクラス */
.selected-icon {
    background-color: #eff7ff;
    border-radius: 40px;
}


