/* ヘッダのスタイル */
.title-head {
    text-align: center;
}

/* カレンダー表示部分に関するスタイル */
.month {
    text-align: center
}

.sunday {
    color: #e75050;
}

.saturday {
    color: #53abbb;
}

.calendar {
    text-align: right;
}

.calendar table, td, th {
    border-bottom: 1px solid #e0e24e;
}

.calendar table {
    border-collapse: collapse;
}



/* フッターのスタイル */

