/*ヘッダのスタイル*/
.title-head {
    text-align: center;
}

/* カレンダー表示部分に関するスタイル */
.main {
    display: inline-block;
    float: left;
    margin-left: 25%;
    margin-top: 40px;
    font-size: 30px;
}


.month {
    text-align: center;
}

.holiday {
    color: #ff7f7f;
}

.saturday {
    color: #9eceff;
}

.prev-month {
    color: #a0a0a0;
}

.next-month {
    color: #a0a0a0;
}

.prev-btn {
    cursor: pointer;
}

.next-btn {
    cursor: pointer;
}

.calendar {
    text-align: right;
}

.calendar table, td, th {
    border-bottom: 1px solid #e0e24e;
}

.calendar td {
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: inherit;
}

.calendar table {
    border-collapse: collapse;
}

/* フッターのスタイル */

